nav.ui.items.unstackable
  .item
    a.ui.button.fluid.teal(href='/users') Users
  .item
    a.ui.button.fluid.teal(href='/conversations') Conversations
  .item
    a.ui.button.fluid.teal(href='/') Settings
  form.item(method='post' action='/logout')
      button.ui.button.fluid.yellow Logout