extends ./includes/layout
block content
  .frame
    header
      h1(style='margin: 0') Conversations
      .menu-icon
        div
        div
        div
    main
      include ./includes/menu
      .ui.icon.button.teal.circular.massive.create-button
        i.ui.icon.add
      content
        