extends layout
block content
  .frame
    header
      h1(style='margin: 0') Conversations
      .menu-icon
        div
        div
        div
    main
      .ui.divided.unstackable.items
        .item
          img(src='https://gravatar.com/avatar/f41c30ef4ae6398cc925a61031c90fd6?s=54')
          
        .item
          img(src='https://gravatar.com/avatar/f41c30ef4ae6398cc925a61031c90fd6?s=54')
          
        .item
          img(src='https://gravatar.com/avatar/f41c30ef4ae6398cc925a61031c90fd6?s=54')
          
        .item
          img(src='https://gravatar.com/avatar/f41c30ef4ae6398cc925a61031c90fd6?s=54')
          
    footer
      .ui.icon.input.large.fluid
        input(type="text" placeholder="Search...")
        i.circular.search.link.icon
    