extends layout
block content
  .frame
    header
      h1 Conversations
      .menu-icon
        div
        div
        div
    main
      //Sidebar
      nav.ui.items.unstackable
        .item(style='align-items: center')
          img.my-avatar(src='https://gravatar.com/avatar/f41c30ef4ae6398cc925a61031c90fd6?s=128')
          .ui.label.large Username
        form.item
          button.ui.button.fluid.teal(onclick='changeUsername()') Change Username
        form.item(method='post' action='/logout')
          button.ui.button.fluid.yellow Logout
      //Create conversation button
      a.ui.icon.button.teal.circular.massive.create-button(href='/users')
        i.ui.icon.add
      content
        .ui.items.divided.unstackable
          a.item(href='/messages' style='align-items: center')
            img.my-avatar(src='https://gravatar.com/avatar/f41c30ef4ae6398cc925a61031c90fd6?s=128')
            .div
              h2 Conversation name
              p user1, user2, user3