extends layout
block content
  .frame
    header
      h1 Conversation Name
      .menu-icon
        div
        div
        div
    main
      nav.ui.items.unstackable
        .item(style='align-items: center')
          img.my-avatar(src='https://gravatar.com/avatar/f41c30ef4ae6398cc925a61031c90fd6?s=128')
          .ui.label.large Username
        .item
          a.ui.button.fluid.teal(href='/conversations') Conversations
        .item
          buttons.ui.button.fluid.teal(href='/') Rename chat
        .item
          a.ui.button.fluid.teal(href='/') Add user
        .item
          button.ui.button.fluid.orange(href='/') Leave chat
        form.item(method='post' action='/logout')
          button.ui.button.fluid.yellow Logout
      content
    footer
      form.ui.form.large(style='display:flex')
        textarea(rows='1' oninput='autoResize()' name='message' placeholder='Type your message...' style='resize: none; margin-right: 1em; border-radius: 2em')
        button.ui.button.teal.circular.large(style='align-self: center') Send