extends layout
block content
  .frame
    header
      h1 Conversation Name
      .menu-icon
        div
        div
        div
    main
      nav.ui.items.unstackable
        .ui.item.equal.width.two.column.grid.divided.middle.aligned
          .column
            img.ui.circular.image(src='https://semantic-ui.com/images/avatar/large/stevie.jpg')
          .column Logged in as: username
        .item
          a.ui.button.fluid.teal(href='/conversations') Conversations
        .item
          buttons.ui.button.fluid.teal(href='/') Rename chat
        .item
          a.ui.button.fluid.teal(href='/') Add user
        .item
          button.ui.button.fluid.orange(href='/') Leave chat
        form.item(method='post' action='/logout')
          button.ui.button.fluid.yellow Logout
      content
    footer
      form.ui.form.large(style='display:flex')
        textarea(rows='1' oninput='autoResize()' name='message' placeholder='Type your message...' style='resize: none; margin-right: 1em; border-radius: 2em; box-sizing: border-box')
        button.ui.button.teal.circular.large(style='align-self: center') Send