extends layout
block content
  .frame
    form.ui.form.segment(action='/register' method='post' style='background-color: white;padding: 1em;')
      h1.ui.dividing.header.center.aligned Wirebird's Chat Registration
      if errors.length
        .ui.red.message
          .header Validation errors:
          ul.list
            each error in errors
              li= error
      .ui.left.icon.input.fluid.field
        i.user.icon
        input(type='text' name='username' placeholder='Username' autocomplete='off' autofocus)
      .ui.left.icon.input.fluid.field
        i.mail.icon
        input(type='text' name='email' placeholder='Email address' autocomplete='off')
      .ui.left.icon.input.fluid.field
        i.lock.icon
        input(type='password' oninput='checkPassword()' name='password' placeholder='Password')
      .ui.left.icon.input.fluid.field
        i.lock.icon
        input(type='password' oninput='checkPassword()' placeholder='Type your password again')
      .ui.two.column.grid
        .column
          button.ui.button.submit.fluid.teal Register
        .column
          a.ui.button.fluid(href="/login-page") Back To Login