extends layout
block content
  .frame
    header
      h1 Create chat room
      .menu-icon
        div
        div
        div
    main
      nav.ui.items.unstackable
        .ui.item.equal.width.two.column.grid.divided.middle.aligned
          .column
            img.ui.circular.image(src='https://semantic-ui.com/images/avatar/large/stevie.jpg')
          .column Logged in as: username
        .item
          a.ui.button.fluid.teal(href='/conversations') Conversations
        form.item(method='post' action='/logout')
          button.ui.button.fluid.yellow Logout
      content
    footer
      .ui.search.large
        .ui.icon.input.fluid
          input.prompt(type='text' placeholder='Search users to add...')
          i.search.icon
    