extends layout
block content
  .frame
    header
      h1 Create chat room
      .menu-icon
        div
        div
        div
    main
      nav.ui.items.unstackable
        .item(style='align-items: center')
          img.my-avatar(src='https://gravatar.com/avatar/f41c30ef4ae6398cc925a61031c90fd6?s=128')
          .ui.label.large Username
        .item
          a.ui.button.fluid.teal(href='/conversations') Conversations
        form.item(method='post' action='/logout')
          button.ui.button.fluid.yellow Logout
      content
        .ui.teal.message
          .header Add users
          ul.list
            li Select other people you want to have a conversation with in this chat room.
        .ui.items.divided.unstackable
          .item(style='align-items: center')
            img.my-avatar(src='https://gravatar.com/avatar/f41c30ef4ae6398cc925a61031c90fd6?s=128')
            h2 Username
          .item(style='align-items: center')
            img.my-avatar(src='https://gravatar.com/avatar/f41c30ef4ae6398cc925a61031c90fd6?s=128')
            h2 Username
          .item(style='align-items: center')
            img.my-avatar(src='https://gravatar.com/avatar/f41c30ef4ae6398cc925a61031c90fd6?s=128')
            h2 Username
          
    footer
      .ui.search.large
        .ui.icon.input.fluid
          input.prompt(type='text' placeholder='Search users to add...')
          i.search.icon
    