html, body {
    height: 100%;
}
body {
    background: url(background.jpg);
    background-size: cover;
}
header {
    background-color: whitesmoke;
    padding: 1em;
    display:flex;
    justify-content: space-between;
    align-items: center
}
main {
    background-color: white;
    padding: 1em;
    flex-grow: 1;
    overflow-y: scroll;
}
footer {
    background-color: whitesmoke;
    padding: 0.5em;
}
.frame {
    margin: auto;
    height: 100%;
    max-width: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}





.menu-icon > div {
    width: 24px;
    height: 2px;
    background-color: black;
    margin: 4px;
    transition: 0.3s;
}
.menu-icon {
    padding: 10px;
    cursor: pointer;
}